/* GLOBAL STYLES */
html {
  box-shadow: 0px 0px 0px 35px #000 inset; /* box-shadow: x-axis y-axis blur size color inset */
}
body {
  background-color: #e9f0ec;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  padding: 5vh 0 0 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Shippori Mincho B1', serif;
}
.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: 50px;
  width: 100%;
}
.content-wrapper h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0.2em 0;
  text-align: center;
  text-transform: uppercase;
}
.content-wrapper p {
  padding-top: 1em;
  text-align: center;
}

/* GENERAL PAGE STYLES */
.page {
  max-width: 700px;
  flex: 1;
}

/* --- LANDING PAGE STYLES START--- */
/* SOCIAL LINKS STYLES */
.social-list {
  float: left;
  list-style: none;
  margin: 1em 0;
  text-align: center;
  width: 100%;
}
.social-list > li {
  display: inline-block;
}
.social-img {
  height: 4vh;
  opacity: 0.5;
}
.social-img:hover,
.social-img:active {
  opacity: 1;
}
.social-list > li ~ li {
  margin-left: 0.4em;
}

/* BULLETIN BOARD STYLES */
.bb-content .main-img {
  box-shadow: 3px 1px 2px 2px #bbb;
  border-radius: 100%;
  width: 225px;
}
.bb-content figure {
  text-align: center;
}
.bb-content figure figcaption {
  padding: 1em 0;
  color: #333;
}

/* HOME MAIN MENU STYLES */
.home-menu {
  clear: both;
}
.home-menu-link {
  color: #000;
  display: inline-block;
  font-size: 3em;
  line-height: 110%;
  padding: 0.1em;
  text-decoration: none;
}
.home-menu-link:hover,
.home-menu-link:active {
  font-size: 3.1em;
  font-weight: bold;
  padding: 0.08em;
}
.menu-item {
  text-align: center;
  margin: 0.7em 0;
}
.home-menu .main-menu {
  list-style: none;
}
/* --- LANDING PAGE STYLES END --- */

/* FOOTER STYLES */
.footer {
  box-sizing: border-box;
  background-color: #000;
  display: block;
  padding: 5vh 0;
  text-align: center;
  /* min-width: 100vw; */
  flex: 1;
}
.footer h3 {
  color: #ddd;
  padding-bottom: 5px;
}
.footer a:link {
  color: #0066ff;
}
.footer a:visited {
  color: #fff;
}
.footer .attribution {
  color: #999;
  font-size: 1em;
}


/* MOBILE STLYES */
@media (max-width: 800px) {
  html {
    box-shadow: none;
    font-size: 0.8rem;
    max-width: 100vw;
    padding: 0;
  }
  body {
    padding-top: 2vh;
  }
}

@media (max-width: 300px) {
  html {
    box-shadow: none;
    font-size: 0.5rem;
    max-width: 275px;
    padding: 0;
    width: 100%;
  }
}