/* GLOBAL STYLES */
.content-wrapper {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}
.content-wrapper h1 {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}
.social-list {
  display: inline-block;
  list-style: none;
  margin: 1em 0;
}


/* BULLETIN BOARD STYLES */
.bb-content img {
  border-radius: 100%;
}


/* HOME MAIN MENU STYLES */
.home-menu .main-menu {
  list-style: none;
}
.home-menu-link {
  text-decoration: none;
}
.home-menu-link:hover {
  font-size: 1.25em;
  font-weight: bold;
}

