<footer class="footer">
  <h3>All content, unless otherwise specified, &copy; 2021 - Andrew Huntington</h3>
  <div class="attribution">
    Social media icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> 
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>



<!-- 
<div>Social media icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 -->